# Gradle
*.iml
.gradle
**/build/
/captures

# Local machine config
local.properties
keystore.properties

# Signing keys
*.keystore
*.jks

# Native build
.externalNativeBuild
.cxx

# macOS
.DS_Store

# IntelliJ / Android Studio
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml